.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #2b2b2b;
  width: 100%;
  max-width: 320px;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  color: white;
}

.modal h2 {
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 1.6em;
}

.modal label {
  font-weight: 600;
  margin-bottom: 0.3em;
  font-size: 18px;
}

.modal input,
.modal textarea {
  padding: 0.6em 0.7em;
  margin-bottom: 1em;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95em;
  outline: none;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}

.modal textarea {
  resize: vertical;
  min-height: 90px;
}

.modal input:focus,
.modal textarea:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.modal-buttons {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  gap: 1em;
}
.description-input {
  height: 4.5em;
}
