.navbar {
  position: relative;
  color: white;
  padding: 1em;
  font-family: "Josefin Slab", serif;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 45px;
}

.burger {
  background: none;
  border: none;
  color: white;
  font-size: 1.8em;
  cursor: pointer;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0.001em;
  background: #1e1e1e;
  padding: 1em;
  text-align: end;
  width: 8em;
  z-index: 1000;
}

.nav-links.open {
  display: flex;
}

.nav-links a,
.logout-btn {
  color: white;
  text-decoration: none;
  padding: 0.5em 0;
  font-size: 20px;
}

.logout-btn {
  background: none;
  border: none;
  text-align: right;
  cursor: pointer;
}
.nav-user {
  font-size: 20px;
  padding: 0.5em 0;
}
