.auction-card {
  padding: 1em;
  border-radius: 10px;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.45);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.auction-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.6);
}

.auction-card.open {
  background: #9fbfa8;
  color: #1b1b1b;
}

.auction-card.finished {
  background: #9e8c8c;
}

.image-placeholder {
  width: 70%;
  height: 10em;
  overflow: hidden;
  border-radius: 1em;
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 10em;
}
.info-div p {
  margin-top: 0;
}
.card-actions {
  display: flex;
  gap: 2em;
  margin-top: 0.5em;
}
