.admin-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  place-self: center;
  margin-top: 2em;
}

@media (min-width: 1000px) {
  .admin-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
